.botao {
  background-color: rgb(5, 5, 5);
  border-radius: 18px;
  border: none;
  cursor: pointer;
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  padding: 32px;
  margin: 32px 0;

}

.botao:hover {
  background-color: rgb(48, 46, 46);
}